# URL del backend Go Fiber
VITE_API_URL=http://localhost:3000
#VITE_API_URL=https://api.tukifac.cloud

# Slug del tenant para desarrollo local (si no hay subdominios)
# En producción se detecta automáticamente del subdominio
VITE_TENANT_SLUG=mi-empresa
